@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "MelonReader";
}

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: "232704976853669", // App ID
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });
        

        //FB.getLoginStatus(function(response) {
        //    if (response.authResponse) {
        //        //the user is logged in and has authenticated your
        //        // app, and response.authResponse supplies
        //        // the user's ID, a valid access token, a signed
        //        // request, and the time the access token
        //        // and signed request each expire
        //        var uid = response.authResponse.userID;
        //        var accessToken = response.authResponse.accessToken;
        //        // Do a post to the server to finish the logon
        //        // This is a form post since we don't want to use AJAX
        //        var form = document.createElement("form");
        //        form.setAttribute("method", 'post');
        //        form.setAttribute("action", ' ');
        //        //form.setAttribute("action", 'FacebookLogin.ashx');

        //        var field = document.createElement("input");
        //        field.setAttribute("type", "hidden");
        //        field.setAttribute("name", 'accessToken');
        //        field.setAttribute("value", accessToken);
        //        form.appendChild(field);

        //        document.body.appendChild(form);
        //        form.submit();

        //    }
        //    else {
        //        FB.login(function(response) {
        //            if (response.authResponse) {
        //                //the user is logged in and has authenticated your
        //                // app, and response.authResponse supplies
        //                // the user's ID, a valid access token, a signed
        //                // request, and the time the access token
        //                // and signed request each expire
        //                var uid = response.authResponse.userID;
        //                var accessToken = response.authResponse.accessToken;
        //                // Do a post to the server to finish the logon
        //                // This is a form post since we don't want to use AJAX
        //                var form = document.createElement("form");
        //                form.setAttribute("method", 'post');
        //                form.setAttribute("action", ' ');
        //                //form.setAttribute("action", 'FacebookLogin.ashx');

        //                var field = document.createElement("input");
        //                field.setAttribute("type", "hidden");
        //                field.setAttribute("name", 'accessToken');
        //                field.setAttribute("value", accessToken);
        //                form.appendChild(field);

        //                document.body.appendChild(form);
        //                form.submit();
        //            }
        //            else {
        //                console.log('User cancelled login or did not fully authorize.');
        //            }
        //        }, {scope: 'email,publish_stream,email,rsvp_event,read_stream,user_likes,user_birthday'});
        //    }
        //},true);

        FB.Event.subscribe('auth.authResponseChange', function (response) {
            if (response.status === 'connected') {
                // the user is logged in and has authenticated your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token
                // and signed request each expire
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;

                // Do a post to the server to finish the logon
                // This is a form post since we don't want to use AJAX
                var form = document.createElement("form");
                form.setAttribute("method", 'post');
                form.setAttribute("action", ' ');
                //form.setAttribute("action", 'FacebookLogin.ashx');

                var field = document.createElement("input");
                field.setAttribute("type", "hidden");
                field.setAttribute("name", 'accessToken');
                field.setAttribute("value", accessToken);
                form.appendChild(field);

                document.body.appendChild(form);
                form.submit();

            } else if (response.status === 'not_authorized') {
                // the user is logged in to Facebook,
                // but has not authenticated your app
            } else {
                // the user isn't logged in to Facebook.
            }
        });
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<div class="fb-login-button" data-show-faces="false" data-width="400" data-max-rows="1" data-scope="read_stream,user_likes"></div>

<div class="jumbotron">
    <h1>MelonReader</h1>
    <p class="lead">Welcome</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

</div>